%h1 Listing purchases

%table
  %thead
    %tr
      %th Name
      %th Cost
      
  %tbody
    = @purchases.each do |purchase| 
      %tr
        %td 
          = purchase.name 
        %td 
          = purchase.cost 
        %td 
          = link_to 'Show', purchase 
        %td 
          = link_to 'Edit', edit_purchase_path(purchase) 
        %td 
          = link_to 'Destroy', purchase, method: :delete, data: { confirm: 'Are you sure?' } 

%br
  = link_to 'New Purchase', new_purchase_path 
